

{% extends 'social/base.html' %}
{% load crispy_forms_tags %}
<head>
    <style>
        .posts{
            border-width:2px;
            border-style:solid;
            border-color:black;
        }
    </style>

</head>

<body>
{% block content %}
    <div class="container">
        <div class="col-md-3 col-sm-6">
            <a href="\" class="btn btn-light" style="margin: 20px;">Back to Home</a>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12">
                <h5>Add a Post!</h5>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3">Submit!</button>
                    </div>
                </form>
            </div>
        </div>
        {% for post in post_list %}
        <div class="posts">
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <p><strong>{{ post.author }}</strong> {{ post.created_on }}</p>
                <p>{{ post.body }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" class= "post-image" width="300px" height="300px"/>
                {% endif %}
                <a class="stretched-link" href="{% url 'post-detail' post.pk %}"></a>
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>
    
                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                 </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
</body>